{
  "openapi": "3.1.0",
  "info": {
    "title": "Sungrow iSolarCloud OpenAPI",
    "version": "1.0.0",
    "description": "Unofficial OpenAPI description of the Sungrow iSolarCloud OpenAPI, generated from the official developer-portal documentation (https://developer-api.isolarcloud.com). All requests are POST with a JSON body that also carries `appkey` and `lang`; authentication uses `x-access-key` + a Bearer token. Not affiliated with or endorsed by Sungrow."
  },
  "servers": [
    {
      "url": "https://gateway.isolarcloud.eu",
      "description": "Europe"
    },
    {
      "url": "https://gateway.isolarcloud.com",
      "description": "International"
    },
    {
      "url": "https://gateway.isolarcloud.com.hk",
      "description": "China"
    },
    {
      "url": "https://augateway.isolarcloud.com",
      "description": "Australia"
    }
  ],
  "paths": {
    "/eco/v1/auth": {
      "post": {
        "summary": "Login",
        "description": "",
        "operationId": "auth",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "Status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "message"
                    },
                    "ok": {
                      "type": "boolean",
                      "description": "Whether business processing is successful"
                    },
                    "reqSerialNum": {
                      "type": "string",
                      "description": "Request serial number"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "description": "User authentication token"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "-",
                    "example": "-"
                  }
                },
                "required": [
                  "data"
                ]
              },
              "example": {
                "user_account": "polana7333@tsderp.com",
                "user_password": "1qaz@WSX"
              }
            }
          }
        }
      }
    },
    "/eco/v1/getChargerInfo": {
      "post": {
        "summary": "Query Charger Information",
        "description": "Query current user's charger information",
        "operationId": "getChargerInfo",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "Status Code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Message"
                    },
                    "ok": {
                      "type": "boolean",
                      "description": "Whether it is successful"
                    },
                    "reqSerialNum": {
                      "type": "string",
                      "description": "Request Serial Number"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "sn": {
                          "type": "string",
                          "description": "Charging Station SN"
                        },
                        "chargerModel": {
                          "type": "string",
                          "description": "Charging Station Model"
                        },
                        "offlineStatus": {
                          "type": "integer",
                          "description": "Charging Station Online/Offline Status"
                        },
                        "faultStatus": {
                          "type": "integer",
                          "description": "Charging Station Fault Alarm Status"
                        },
                        "currentType": {
                          "type": "string",
                          "description": "Charger Type: AC = Alternating Current (AC), DC = Direct Current (DC)"
                        },
                        "plugList": {
                          "type": "object",
                          "properties": {
                            "plugNum": {
                              "type": "integer",
                              "description": "Charging Connector Number"
                            },
                            "chargerPlugRunStatus": {
                              "type": "string",
                              "description": "Connector Status: FAULT-Fault, CHARGING-Charging, PARK-Completed, BOOKED-Booked, MAINTAIN-Under Maintenance, BMS_STARTING-Preparing, FREE-Idle, SUSPENDED_EV-Suspended by EV, SUSPENDED_EVSE-Suspended by EVSE"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appkey": {
                    "type": "string",
                    "description": "appKey authorized by the server to the calling party",
                    "example": "your_appkey_here"
                  },
                  "token": {
                    "type": "string",
                    "description": "token",
                    "example": "11111111111_661d14f081be413bad38b150d331a267"
                  },
                  "timestamp": {
                    "type": "integer",
                    "description": "greenwich Unix timestamp in milliseconds",
                    "example": "1756798832413"
                  },
                  "noce": {
                    "type": "string",
                    "description": "32-character random alphanumeric string, unique per request",
                    "example": "lemz0a2kleebbvb7mnfopn8vcoiclvzh"
                  },
                  "data": {
                    "type": "string",
                    "description": "business Parameters",
                    "example": "-"
                  }
                },
                "required": [
                  "appkey",
                  "token",
                  "timestamp",
                  "noce",
                  "data"
                ]
              },
              "example": {
                "appkey": "your_appkey_here",
                "token": "111111111111_661d14f081be413bad38b150d331a267",
                "timestamp": "1756798832413",
                "noce": "lemz0a2kleebbvb7mnfopn8vcoiclvzh",
                "data": {
                  "sn": "A4800202503"
                }
              }
            }
          }
        }
      }
    },
    "/eco/v1/getChargerList": {
      "post": {
        "summary": "Query charger list under the station",
        "description": "Query charger list under current user's station",
        "operationId": "getChargerList",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "Status Code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Message"
                    },
                    "ok": {
                      "type": "boolean",
                      "description": "Whether it is successful"
                    },
                    "reqSerialNum": {
                      "type": "string",
                      "description": "Request Serial Number"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "sn": {
                          "type": "string",
                          "description": "Charging Station SN"
                        },
                        "chargerModel": {
                          "type": "string",
                          "description": "Charging Station Model"
                        },
                        "offlineStatus": {
                          "type": "integer",
                          "description": "Charging Station Offline/Online Status"
                        },
                        "faultStatus": {
                          "type": "integer",
                          "description": "Charging Station Fault Alarm Status"
                        },
                        "currentType": {
                          "type": "string",
                          "description": "Charger Type: AC = Alternating Current (AC), DC = Direct Current (DC)"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appkey": {
                    "type": "string",
                    "description": "appKey authorized by the server to the calling party",
                    "example": "your_appkey_here"
                  },
                  "token": {
                    "type": "string",
                    "description": "token",
                    "example": "11111111111_661d14f081be413bad38b150d331a267"
                  },
                  "timestamp": {
                    "type": "integer",
                    "description": "greenwich Unix timestamp in milliseconds",
                    "example": "1756798832413"
                  },
                  "noce": {
                    "type": "string",
                    "description": "32-character random alphanumeric string, unique per request",
                    "example": "lemz0a2kleebbvb7mnfopn8vcoiclvzh"
                  },
                  "data": {
                    "type": "string",
                    "description": "Station Id",
                    "example": "-"
                  }
                },
                "required": [
                  "appkey",
                  "token",
                  "timestamp",
                  "noce",
                  "data"
                ]
              },
              "example": {
                "appkey": "your_appkey_here",
                "token": "111111111111_661d14f081be413bad38b150d331a267",
                "timestamp": "1756798832413",
                "noce": "lemz0a2kleebbvb7mnfopn8vcoiclvzh",
                "data": {
                  "stationId": "1",
                  "faultStatus": 1,
                  "offlineStatus": 1
                }
              }
            }
          }
        }
      }
    },
    "/eco/v1/getOrderCurveData": {
      "post": {
        "summary": "Query Charging Order Curve Data",
        "description": "Query Charger Order Information Under User's Station",
        "operationId": "getOrderCurveData",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "Status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Message"
                    },
                    "ok": {
                      "type": "boolean",
                      "description": "Whether the business processing is successful"
                    },
                    "reqSerialNum": {
                      "type": "string",
                      "description": "Request serial number"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "maintenanceProtocol": {
                          "type": "integer",
                          "description": "Protocol type (1, 2)"
                        },
                        "timeZone": {
                          "type": "string",
                          "description": "Order time zone"
                        },
                        "plugNum": {
                          "type": "integer",
                          "description": "Connector number"
                        },
                        "list": {
                          "type": "object",
                          "properties": {
                            "currentAcB": {
                              "type": "integer",
                              "description": "Phase B current (AC charger only)"
                            },
                            "currentAcA": {
                              "type": "integer",
                              "description": "Phase A current (AC charger only)"
                            },
                            "totalEnergy": {
                              "type": "number",
                              "description": "Total charged energy"
                            },
                            "eventTime": {
                              "type": "string",
                              "description": "Event time"
                            },
                            "voltageAcA": {
                              "type": "integer",
                              "description": "Phase A voltage (AC charger only)"
                            },
                            "voltageAcB": {
                              "type": "integer",
                              "description": "Phase B voltage (AC charger only)"
                            },
                            "power": {
                              "type": "integer",
                              "description": "Charging power"
                            },
                            "voltageAcC": {
                              "type": "integer",
                              "description": "Phase C voltage (AC charger only)"
                            },
                            "currentAcC": {
                              "type": "integer",
                              "description": "Phase C current (AC charger only)"
                            },
                            "currentDc": {
                              "type": "integer",
                              "description": "Charging current (DC charger only)"
                            },
                            "voltageDc": {
                              "type": "integer",
                              "description": "Charging voltage (DC charger only)"
                            },
                            "soc": {
                              "type": "integer",
                              "description": "State of Charge (SOC) (DC charger only)"
                            },
                            "bmsDemandVoltage": {
                              "type": "string",
                              "description": "BMS demand voltage (DC charger only)"
                            },
                            "bmsDemandCurrent": {
                              "type": "string",
                              "description": "BMS demand current (DC charger only)"
                            },
                            "temperature": {
                              "type": "string",
                              "description": "Temperature (DC charger only)"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/eco/v1/getOrderInfo": {
      "post": {
        "summary": "Query Charger Order Details",
        "description": "Query charger order information under the user's station",
        "operationId": "getOrderInfo",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "message"
                    },
                    "ok": {
                      "type": "boolean",
                      "description": "Whether the business is successful"
                    },
                    "reqSerialNum": {
                      "type": "string",
                      "description": "serial number"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "timeZone": {
                          "type": "string",
                          "description": "Time zone"
                        },
                        "startChargeTime": {
                          "type": "string",
                          "description": "Charging start time"
                        },
                        "orderStatus": {
                          "type": "string",
                          "description": "Order status"
                        },
                        "chargerSerialNum": {
                          "type": "string",
                          "description": "Charger serial number"
                        },
                        "stopChargeTime": {
                          "type": "string",
                          "description": "Charging stop time"
                        },
                        "chargeEnergy": {
                          "type": "number",
                          "description": "Charging energy"
                        },
                        "list": {
                          "type": "object",
                          "properties": {
                            "stepCode": {
                              "type": "string",
                              "description": "Step code"
                            },
                            "stepName": {
                              "type": "string",
                              "description": "Step name"
                            },
                            "stepOrder": {
                              "type": "integer",
                              "description": "Step order"
                            },
                            "startTime": {
                              "type": "string",
                              "description": "Step execution time"
                            },
                            "remark": {
                              "type": "string",
                              "description": "Remark"
                            },
                            "state": {
                              "type": "integer",
                              "description": "Step status"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "",
                    "example": "-"
                  }
                },
                "required": [
                  "data"
                ]
              },
              "example": {
                "appkey": "your_appkey_here",
                "token": "11111111111_661d14f081be413bad38b150d331a267",
                "timestamp": "1756798832413",
                "noce": "lemz0a2kleebbvb7mnfopn8vcoiclvzh",
                "data": {
                  "orderCode": "1200002009270001"
                }
              }
            }
          }
        }
      }
    },
    "/eco/v1/getOrderList": {
      "post": {
        "summary": "Query Charger Order List",
        "description": "Query the charger order list under the user's station",
        "operationId": "getOrderList",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "Status Code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Message"
                    },
                    "ok": {
                      "type": "boolean",
                      "description": "Whether it is successful"
                    },
                    "reqSerialNum": {
                      "type": "string",
                      "description": "Request Serial Number"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "Total Number"
                        },
                        "orderList": {
                          "type": "object",
                          "properties": {
                            "orderId": {
                              "type": "integer",
                              "description": "Order Id"
                            },
                            "orderStatus": {
                              "type": "string",
                              "description": "Order Status"
                            },
                            "timeZone": {
                              "type": "string",
                              "description": "Order TimeZone"
                            },
                            "startChargeTime": {
                              "type": "string",
                              "description": "Order Start Charge Time"
                            },
                            "orderCode": {
                              "type": "integer",
                              "description": "Order Code"
                            },
                            "chargerSerialNum": {
                              "type": "string",
                              "description": "chargerSerialNum"
                            },
                            "stopChargeTime": {
                              "type": "string",
                              "description": "Order Stop Charge Time"
                            },
                            "chargeEnergy": {
                              "type": "number",
                              "description": "Charge Energy"
                            },
                            "plugNum": {
                              "type": "integer",
                              "description": "Plug Number"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appkey": {
                    "type": "string",
                    "description": "appKey authorized by the server to the calling party",
                    "example": "your_appkey_here"
                  },
                  "token": {
                    "type": "string",
                    "description": "token",
                    "example": "11111111111_661d14f081be413bad38b150d331a267"
                  },
                  "timestamp": {
                    "type": "integer",
                    "description": "greenwich Unix timestamp in milliseconds",
                    "example": "1756798832413"
                  },
                  "noce": {
                    "type": "string",
                    "description": "32-character random alphanumeric string, unique per request",
                    "example": "lemz0a2kleebbvb7mnfopn8vcoiclvzh"
                  },
                  "data": {
                    "type": "string",
                    "description": "business Parameters",
                    "example": "-"
                  }
                },
                "required": [
                  "appkey",
                  "token",
                  "timestamp",
                  "noce",
                  "data"
                ]
              },
              "example": {
                "appkey": "your_appkey_here",
                "token": "111111111111_661d14f081be413bad38b150d331a267",
                "timestamp": "1756798832413",
                "noce": "lemz0a2kleebbvb7mnfopn8vcoiclvzh",
                "data": {
                  "stationId": "123",
                  "orderStatus": "Closed",
                  "sn": "A1234567",
                  "startTime": "2025-07-01 10:00:00.000",
                  "endTime": "2025-07-02 10:00:00.000",
                  "curPage": 1,
                  "size": "10"
                }
              }
            }
          }
        }
      }
    },
    "/eco/v1/getStationInfo": {
      "post": {
        "summary": "Query Station Information",
        "description": "Query Station Information",
        "operationId": "getStationInfo",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "Status Code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Message"
                    },
                    "ok": {
                      "type": "boolean",
                      "description": "Whether it is successful"
                    },
                    "reqSerialNum": {
                      "type": "string",
                      "description": "Request Serial Number"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "Total Number"
                        },
                        "city": {
                          "type": "string",
                          "description": "City Name"
                        },
                        "createTime": {
                          "type": "string",
                          "description": "Create Time"
                        },
                        "latitude": {
                          "type": "number",
                          "description": "Latitude"
                        },
                        "postalCode": {
                          "type": "integer",
                          "description": "Postal Code"
                        },
                        "stationStatus": {
                          "type": "string",
                          "description": "Station Status"
                        },
                        "timeZone": {
                          "type": "string",
                          "description": "TimeZone"
                        },
                        "stationName": {
                          "type": "string",
                          "description": "Station Name"
                        },
                        "location": {
                          "type": "string",
                          "description": "location"
                        },
                        "countryName": {
                          "type": "string",
                          "description": "country name"
                        },
                        "stationId": {
                          "type": "integer",
                          "description": "Station Id"
                        },
                        "longitude": {
                          "type": "number",
                          "description": "Longitude"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appkey": {
                    "type": "string",
                    "description": "appKey authorized by the server to the calling party",
                    "example": "your_appkey_here"
                  },
                  "token": {
                    "type": "string",
                    "description": "token",
                    "example": "11111111111_661d14f081be413bad38b150d331a267"
                  },
                  "timstamp": {
                    "type": "integer",
                    "description": "greenwich Unix timestamp in milliseconds",
                    "example": "1756798832413"
                  },
                  "noce": {
                    "type": "string",
                    "description": "32-character random alphanumeric string, unique per request",
                    "example": "lemz0a2kleebbvb7mnfopn8vcoiclvzh"
                  },
                  "data": {
                    "type": "string",
                    "description": "business Parameters",
                    "example": "-"
                  }
                },
                "required": [
                  "appkey",
                  "token",
                  "timstamp",
                  "noce",
                  "data"
                ]
              },
              "example": {
                "appkey": "your_appkey_here",
                "token": "11111111111_661d14f081be413bad38b150d331a267",
                "timestamp": "1756798832413",
                "noce": "lemz0a2kleebbvb7mnfopn8vcoiclvzh",
                "data": {
                  "stationStatus": "WORKING"
                }
              }
            }
          }
        }
      }
    },
    "/eco/v1/getStationList": {
      "post": {
        "summary": "Query Station List",
        "description": "Query Station List Under Current User",
        "operationId": "getStationList",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "Status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Message"
                    },
                    "ok": {
                      "type": "boolean",
                      "description": "Whether the business processing is successful"
                    },
                    "reqSerialNum": {
                      "type": "string",
                      "description": "Request serial number"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "Total number"
                        },
                        "list": {
                          "type": "object",
                          "properties": {
                            "city": {
                              "type": "string",
                              "description": "City name"
                            },
                            "createTime": {
                              "type": "string",
                              "description": "Creation time"
                            },
                            "latitude": {
                              "type": "number",
                              "description": "Latitude"
                            },
                            "postalCode": {
                              "type": "integer",
                              "description": "Postal code"
                            },
                            "stationStatus": {
                              "type": "string",
                              "description": "Station status"
                            },
                            "timeZone": {
                              "type": "string",
                              "description": "Time zone"
                            },
                            "stationName": {
                              "type": "string",
                              "description": "Station name"
                            },
                            "location": {
                              "type": "string",
                              "description": "Address"
                            },
                            "countryName": {
                              "type": "string",
                              "description": "Country name"
                            },
                            "stationId": {
                              "type": "integer",
                              "description": "Station ID"
                            },
                            "longitude": {
                              "type": "number",
                              "description": "Longitude"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "Request parameter object",
                    "example": "- "
                  }
                },
                "required": [
                  "data"
                ]
              },
              "example": {
                "appkey": "your_appkey_here",
                "token": "11111111111_661d14f081be413bad38b150d331a267",
                "timestamp": "1756798832413",
                "noce": "lemz0a2kleebbvb7mnfopn8vcoiclvzh",
                "data": {
                  "stationStatus": "WORKING",
                  "curPage": "1",
                  "size": "100"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/apiManage/refreshToken": {
      "post": {
        "summary": "Refresh Token",
        "description": "Refresh Token Interface",
        "operationId": "refreshToken",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "req_serial_num": {
                      "type": "string",
                      "description": "Request Sequence Number"
                    },
                    "result_code": {
                      "type": "integer",
                      "description": "Status Code, 1: Success"
                    },
                    "result_msg": {
                      "type": "string",
                      "description": "Prompt Message"
                    },
                    "result_data": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "1: Succeeded 2: No authorization information -1: Authorization server token refresh failed  -2: Refresh_token expired 4: Invalid request 5: Invalid refresh token"
                        },
                        "access_token": {
                          "type": "string",
                          "description": "access_token"
                        },
                        "refresh_token": {
                          "type": "string",
                          "description": "refresh_token"
                        },
                        "expires_in": {
                          "type": "integer",
                          "description": "Valid time, in s"
                        },
                        "token_type": {
                          "type": "string",
                          "description": "token_type"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refresh_token": {
                    "type": "string",
                    "description": "refresh_token",
                    "example": "c7db59ec-5bb5-49ea-841e-eXXXX90aa4"
                  }
                },
                "required": [
                  "refresh_token"
                ]
              },
              "example": {
                "refresh_token": "5cbf5454-2fdd-48d2-9394-a54a7120661e"
              }
            }
          }
        }
      }
    },
    "/openapi/apiManage/token": {
      "post": {
        "summary": "Obtain token via authorization code",
        "description": "Obtain token via authorization code",
        "operationId": "token",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "req_serial_num": {
                      "type": "string",
                      "description": "Request Sequence Number"
                    },
                    "result_code": {
                      "type": "integer",
                      "description": "Status Code\n1: Success\n2: Invalid authorization code\n3: Unauthorized access\n4: Invalid client\n5: The redirect address does not match\n6: The grant type is not supported"
                    },
                    "result_msg": {
                      "type": "string",
                      "description": "Prompt Message"
                    },
                    "result_data": {
                      "type": "object",
                      "properties": {
                        "access_token": {
                          "type": "string",
                          "description": "access_token"
                        },
                        "refresh_token": {
                          "type": "string",
                          "description": "refresh_token"
                        },
                        "expires_in": {
                          "type": "integer",
                          "description": "Valid time, in s"
                        },
                        "auth_ps_list": {
                          "type": "string",
                          "description": "List of authorized plants. The returned information is plant ID."
                        },
                        "auth_user": {
                          "type": "integer",
                          "description": "User ID"
                        },
                        "token_type": {
                          "type": "string",
                          "description": "bearer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Authorization Code",
                    "example": "T3xxjv"
                  },
                  "grant_type": {
                    "type": "string",
                    "description": "Authorization type, fixed value: authorization_code",
                    "example": "authorization_code"
                  },
                  "redirect_uri": {
                    "type": "string",
                    "description": "Redirect Address",
                    "example": "https://web3.isolarcloud.com.cn"
                  },
                  "appkey": {
                    "type": "string",
                    "description": "AppKey",
                    "example": "B968E49385CBD8C74587A374E7B1D21A"
                  },
                  "token_scope_mode": {
                    "type": "string",
                    "description": "Default value: global； \nglobal：Gets the global access token for the current application；authorization_bound：Returns the Access Token matched to the authorization relationship of the current authorization code",
                    "example": "global"
                  }
                },
                "required": [
                  "code",
                  "grant_type",
                  "redirect_uri",
                  "appkey"
                ]
              },
              "example": {
                "grant_type": "authorization_code",
                "code": "rFrnww",
                "redirect_uri": "https://web3.isolarcloud.com.cn"
              }
            }
          }
        }
      }
    },
    "/openapi/cancelPsSharing": {
      "post": {
        "summary": "Disarm the power plant channel partner",
        "description": "Remove channel partners from power plants and support batch operations.",
        "operationId": "cancelPsSharing",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "req_serial_num": {
                      "type": "string",
                      "description": "Request Sequence Number"
                    },
                    "result_code": {
                      "type": "integer",
                      "description": "Error Code"
                    },
                    "result_msg": {
                      "type": "string",
                      "description": "Prompt Message"
                    },
                    "result_data": {
                      "type": "object",
                      "properties": {
                        "result_code": {
                          "type": "integer",
                          "description": "Operation result code: 1: discontinuing successfully 0: discontinuing failed"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ps_id_list": {
                    "type": "string",
                    "description": "Plant ps_id Collection",
                    "example": "[475020,446426,338112,363380]"
                  },
                  "share_type": {
                    "type": "integer",
                    "description": "Permission types of added channel partners: 1: browse permission 2: manage permission",
                    "example": "2"
                  },
                  "is_channel_partner": {
                    "type": "integer",
                    "description": "Add as channel partner, fixed transfer 1",
                    "example": "1"
                  },
                  "user_email": {
                    "type": "string",
                    "description": "The email address and mobile phone number of the person to be cancelled need to be passed",
                    "example": "1536727388@gmail.com"
                  },
                  "user_mobile_tel": {
                    "type": "string",
                    "description": "Mobile phone number Email and mobile phone number need to be passed",
                    "example": "18562**6532"
                  }
                },
                "required": [
                  "ps_id_list",
                  "share_type",
                  "is_channel_partner"
                ]
              },
              "example": {
                "user_mobile_tel": "",
                "user_email": "1536727388@gmail.com",
                "ps_id_list": [
                  475020,
                  446426,
                  338112,
                  363380,
                  476422
                ],
                "is_channel_partner": "1",
                "share_type": "2",
                "user_id": "256154"
              }
            }
          }
        }
      }
    },
    "/openapi/datasubscribe/getConfig": {
      "post": {
        "summary": "Retrieve the corresponding Mqtt information based on the appkey",
        "description": "This interface obtains the Mqtt public key, Mqtt address, username, password, and other information corresponding to the appkey in the input parameters.",
        "operationId": "getConfig",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "req_serial_num": {
                      "type": "string",
                      "description": "Request Sequence Number"
                    },
                    "result_code": {
                      "type": "integer",
                      "description": "Error Code"
                    },
                    "result_msg": {
                      "type": "string",
                      "description": "Prompt Message"
                    },
                    "result_data": {
                      "type": "object",
                      "properties": {
                        "mqtt_type": {
                          "type": "integer",
                          "description": "The MQTT protocol types supported by this appkey are: 1: TCP, 2: WS, 3: WS and TCP"
                        },
                        "mqtt_url_list": {
                          "type": "string",
                          "description": "Mqtt connection address (current set of connection addresses supported by Appey)"
                        },
                        "mqtt_username": {
                          "type": "string",
                          "description": "Mqtt Username"
                        },
                        "mqtt_password": {
                          "type": "integer",
                          "description": "Mqtt Password"
                        },
                        "mqtt_rsa_public_key": {
                          "type": "string",
                          "description": "Mqtt Public Key"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Operation code: 1: Successfully obtained; 0: Acquisition failed; 2: This appkey does not support Mqtt message subscription;"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appkey": {
                    "type": "string",
                    "description": "AppKey",
                    "example": "ABB4C02A3C9F5A95EF0A9A1BF4DAFF3A"
                  }
                },
                "required": [
                  "appkey"
                ]
              },
              "example": {
                "appkey": "ABB4C02A3C9F5A95EF0A9A1BF4DAFF3A",
                "sys_code": 200
              }
            }
          }
        }
      }
    },
    "/openapi/datasubscribe/getHisData": {
      "post": {
        "summary": "Get History Data",
        "description": "Get device history data, currently, we only provide data in most recent one hour. Only devices with live data upload function enabled support history data query.",
        "operationId": "getHisData",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "req_serial_num": {
                      "type": "string",
                      "description": "Request Sequence Number"
                    },
                    "result_code": {
                      "type": "integer",
                      "description": "Error Code"
                    },
                    "result_msg": {
                      "type": "string",
                      "description": "Prompt Message"
                    },
                    "result_data": {
                      "type": "object",
                      "properties": {
                        "fail_list": {
                          "type": "object",
                          "properties": {
                            "sn": {
                              "type": "string",
                              "description": "Device SN"
                            },
                            "code": {
                              "type": "integer",
                              "description": "Error Code (0: The device is not an inverter or does not exist; 1: The device does not belong to the user; 2: The device does not support live data; 3: Device offline)"
                            }
                          }
                        },
                        "success_list": {
                          "type": "object",
                          "properties": {
                            "dataList": {
                              "type": "object",
                              "properties": {
                                "msgTime": {
                                  "type": "string",
                                  "description": "Real time data (with time zone)(format: yyyy-MM-dd'T'HH:mm:ssXXX)"
                                },
                                "recvTime": {
                                  "type": "string",
                                  "description": "Data reception time (with time zone)(format: yyyy-MM-dd'T'HH:mm:ssXXX)"
                                },
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "integer",
                                      "description": "Measuring Point"
                                    },
                                    "val": {
                                      "type": "integer",
                                      "description": "Measuring Point Value"
                                    }
                                  }
                                }
                              }
                            },
                            "sn": {
                              "type": "string",
                              "description": "Device SN"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sn_list": {
                    "type": "string",
                    "description": "Device SN List (up to 10)",
                    "example": "[\"111111111155\"]"
                  },
                  "start_time": {
                    "type": "string",
                    "description": "start time （with timezone） format：2022-01-01T00:15:00+8:00",
                    "example": "2025-01-06T15:20:00+08:00"
                  },
                  "end_time": {
                    "type": "string",
                    "description": "end time （with timezone） format：2022-01-01T00:15:00+8:00",
                    "example": "2025-01-06T16:20:00+08:00"
                  }
                },
                "required": [
                  "sn_list",
                  "start_time",
                  "end_time"
                ]
              },
              "example": {
                "appkey": "ABB4C02A3C9F5A95EF0A9A1BF4DAFF3A",
                "sys_code": 200,
                "sn_list": [
                  "111111111155"
                ],
                "start_time": "2025-01-04T15:37:19+11:00",
                "end_time": "2025-01-04T15:40:24+11:00"
              }
            }
          }
        }
      }
    },
    "/openapi/datasubscribe/start": {
      "post": {
        "summary": "Enable Live Data Upload",
        "description": "Sends instructions to the inverter to enable live data upload. Supports subscription to data via MQTT.",
        "operationId": "start",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "req_serial_num": {
                      "type": "string",
                      "description": "Request Sequence Number"
                    },
                    "result_code": {
                      "type": "integer",
                      "description": "Error Code"
                    },
                    "result_msg": {
                      "type": "string",
                      "description": "Prompt Message"
                    },
                    "result_data": {
                      "type": "object",
                      "properties": {
                        "success_list": {
                          "type": "object",
                          "properties": {
                            "sn": {
                              "type": "string",
                              "description": "Inverter S/N"
                            },
                            "topic": {
                              "type": "string",
                              "description": "MQTT Topic"
                            }
                          }
                        },
                        "fail_list": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "integer",
                              "description": "Error Code (0: The device is not an inverter or does not exist; 1: The device does not belong to the user; 2: The device does not support live data; 3: Device offline)"
                            },
                            "sn": {
                              "type": "string",
                              "description": "Device S/N"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "second": {
                    "type": "string",
                    "description": "Upload Frequency in Seconds (60s by default, cannot be less than 5s). Example: 10 means upload once every 10 seconds"
                  },
                  "sn_list": {
                    "type": "string",
                    "description": "Device (Inverter) SN (up to 10)"
                  }
                },
                "required": [
                  "second",
                  "sn_list"
                ]
              },
              "example": {
                "second": 60,
                "sn_list": [
                  "A2351607928",
                  "A2360216235"
                ]
              }
            }
          }
        }
      }
    },
    "/openapi/datasubscribe/stop": {
      "post": {
        "summary": "Disable Live Data Upload",
        "description": "Sends instructions to the inverter to disable live data upload",
        "operationId": "stop",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "req_serial_num": {
                      "type": "string",
                      "description": "Request Sequence Number"
                    },
                    "result_code": {
                      "type": "integer",
                      "description": "Error Code"
                    },
                    "result_msg": {
                      "type": "string",
                      "description": "Prompt Message"
                    },
                    "result_data": {
                      "type": "object",
                      "properties": {
                        "success_list": {
                          "type": "object",
                          "properties": {
                            "sn": {
                              "type": "string",
                              "description": "Device S/N"
                            }
                          }
                        },
                        "fail_list": {
                          "type": "object",
                          "properties": {
                            "sn": {
                              "type": "string",
                              "description": "Device S/N"
                            },
                            "code": {
                              "type": "integer",
                              "description": "Error Code (0: The device is not an inverter or does not exist; 1: The device does not belong to the user; 2: The device does not support live data; 3: Device offline)"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sn_list": {
                    "type": "string",
                    "description": "Device SN List (up to 10)"
                  }
                },
                "required": [
                  "sn_list"
                ]
              },
              "example": {
                "sn_list": [
                  "A2351607928",
                  "A2360216235"
                ]
              }
            }
          }
        }
      }
    },
    "/openapi/getBatchPsDetail": {
      "post": {
        "summary": "Batch querying basic information about power plants",
        "description": "Batch querying basic information about power plants",
        "operationId": "getBatchPsDetail",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "req_serial_num": {
                      "type": "string",
                      "description": "Request Sequence Number"
                    },
                    "result_code": {
                      "type": "integer",
                      "description": "Error Code"
                    },
                    "result_msg": {
                      "type": "string",
                      "description": "Prompt Message"
                    },
                    "result_data": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Interface response code, 0- query failed, the interface is abnormal, 1- success, 3- there is user_id in the input parameter, and the user_id is inconsistent with the token user, 4- ps_ids in the input parameter is empty, the power plant is not queried through sns, 5- The number of power plants or sns exceeds the maximum limit, 6- Basic information about the power plant is not found according to ps_ids. 7- All the power plants entered into ps_ids are not the power plants of the current user"
                        },
                        "is_not_belong_to_user": {
                          "type": "string",
                          "description": "Enter the set of power plant ids that do not belong to the current user in ps_ids"
                        },
                        "dataList": {
                          "type": "object",
                          "properties": {
                            "design_capacity": {
                              "type": "integer",
                              "description": "Installed Power (Wp)"
                            },
                            "alarm_count": {
                              "type": "integer",
                              "description": "Alarms"
                            },
                            "ps_key": {
                              "type": "integer",
                              "description": "Plant ps_key"
                            },
                            "latitude": {
                              "type": "number",
                              "description": "Latitude"
                            },
                            "description": {
                              "type": "string",
                              "description": "About the Plant"
                            },
                            "ps_remarks": {
                              "type": "string",
                              "description": "Plant Remarks (returned when is_get_ps_remarks is 1)"
                            },
                            "ps_price_kwh": {
                              "type": "integer",
                              "description": "The current electricity price per kWh of the power plant"
                            },
                            "ps_fault_status": {
                              "type": "integer",
                              "description": "power plant fault status 1: fault, 2: alarm, 4: normal"
                            },
                            "ps_type_name": {
                              "type": "string",
                              "description": "Plant Type Name"
                            },
                            "build_status": {
                              "type": "integer",
                              "description": "Plant Construction Status (0: Not Started; 1: Under Construction; 2: Connected; 3: Planned; 4: Not Connected)"
                            },
                            "install_date": {
                              "type": "string",
                              "description": "Creation Date"
                            },
                            "ps_type": {
                              "type": "integer",
                              "description": "Plant Type: 1: Utility Plant; 3: Distributed PV Plant; 4: Residential PV Plant; 5: Residential Energy Storage Plant; 6: Village Plant; 7: Distributed Energy Storage Plant; 8: Poverty Alleviation Plant; 9: Wind Power Plant; 12: C&I Energy Storage Plant"
                            },
                            "email": {
                              "type": "string",
                              "description": "End User Email"
                            },
                            "longitude": {
                              "type": "number",
                              "description": "Plant Longitude"
                            },
                            "param_income_unit_name": {
                              "type": "string",
                              "description": "Tariff Unit"
                            },
                            "ps_price": {
                              "type": "integer",
                              "description": "The current electricity price per Wh of the power plant"
                            },
                            "ps_name": {
                              "type": "string",
                              "description": "Project Name"
                            },
                            "share_user_type": {
                              "type": "integer",
                              "description": "Type of sharing of power plant: 1: owner sharing 2: installer sharing Other: non-sharing power plant"
                            },
                            "share_type": {
                              "type": "integer",
                              "description": "Sharing type of the power plant 1: sharing type (browsing rights) 2: sharing type (management rights) 0: non-sharing power plant (my power plant)"
                            },
                            "ps_current_time_zone": {
                              "type": "string",
                              "description": "Current Plant Time Zone"
                            },
                            "user_moble_tel": {
                              "type": "string",
                              "description": "End User Mobile Number"
                            },
                            "ps_id": {
                              "type": "integer",
                              "description": "Plant ID"
                            },
                            "communication_dev_detail_list": {
                              "type": "object",
                              "properties": {
                                "is_enable": {
                                  "type": "integer",
                                  "description": "SN Status: (0: Disabled; 1: Normal)"
                                },
                                "sn": {
                                  "type": "string",
                                  "description": "SN"
                                }
                              }
                            },
                            "connect_type": {
                              "type": "integer",
                              "description": "Grid Connection Type: (1: Full Grid; 2: Self-Generated and Self-Used (Surplus Power); 3: Self-Generated and Self-Used (No Feed Network); 4: Off-Grid)"
                            },
                            "ps_status": {
                              "type": "integer",
                              "description": "power plant status 1: online, 0: offline"
                            },
                            "fault_count": {
                              "type": "integer",
                              "description": "Fault Count"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ps_ids": {
                    "type": "string",
                    "description": "The plant ID, separate multiple values with commas (can query up to 20 IDs—either the ps_ids or sns must be provided; when both are passed, the ps_ids is queried; the sns is only used if the ps_ids query returns empty)",
                    "example": "700669800,700669628"
                  },
                  "sns": {
                    "type": "string",
                    "description": "Communication Device SN (separate multiple values with commas (you can query up to 20 SNs); the ps_ids is queried and the sns is only used if the ps_ids query returns empty)",
                    "example": "A2360319347,A2410307309,A2361920595,A2352321024"
                  },
                  "is_get_ps_remarks": {
                    "type": "integer",
                    "description": "Get Plant Remarks?: (1: Yes; defaults to no if not passed)",
                    "example": "1"
                  },
                  "lang": {
                    "type": "string",
                    "description": "Internationalized language",
                    "example": "_en_US"
                  }
                },
                "required": [
                  "is_get_ps_remarks",
                  "lang"
                ]
              },
              "example": {
                "is_get_ps_remarks": "1",
                "lang": "_en_US"
              }
            }
          }
        }
      }
    },
    "/openapi/getCommunicationDevInfoByDevSn": {
      "post": {
        "summary": "Query information about the communication device based on the device SN",
        "description": "Query information about the communication device based on the device SN",
        "operationId": "getCommunicationDevInfoByDevSn",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "req_serial_num": {
                      "type": "string",
                      "description": "Request Sequence Number"
                    },
                    "result_code": {
                      "type": "integer",
                      "description": "Error Code"
                    },
                    "result_msg": {
                      "type": "string",
                      "description": "Prompt Message"
                    },
                    "result_data": {
                      "type": "object",
                      "properties": {
                        "device_model_code": {
                          "type": "string",
                          "description": "Device Model Name"
                        },
                        "ps_id": {
                          "type": "integer",
                          "description": "Plant ID"
                        },
                        "ps_key": {
                          "type": "integer",
                          "description": "Device ps_key"
                        },
                        "ps_name": {
                          "type": "string",
                          "description": "Project Name"
                        },
                        "sn": {
                          "type": "string",
                          "description": "Device Communication Device SN"
                        },
                        "uuid": {
                          "type": "integer",
                          "description": "Device UUID"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dev_sn": {
                    "type": "string",
                    "description": "Device SN",
                    "example": "A2451509521"
                  },
                  "share_type": {
                    "type": "integer",
                    "description": "Share type of the power plant corresponding to the device sn: 1: query the power plant that has the browsing permission 2: query the power plant that has the management permission 0: query the own power plant If multiple types are separated by commas (,), the own power plant is queried by default",
                    "example": "0"
                  }
                },
                "required": [
                  "dev_sn"
                ]
              },
              "example": {
                "dev_sn": "A2451509521"
              }
            }
          }
        }
      }
    },
    "/openapi/getDevPropertyPointValue": {
      "post": {
        "summary": "Example Query device attribute measurement point data",
        "description": "Example Query the specified attribute measurement points of N devices of the same type in a power plant.",
        "operationId": "getDevPropertyPointValue",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "req_serial_num": {
                      "type": "string",
                      "description": "Request Sequence Number"
                    },
                    "result_code": {
                      "type": "integer",
                      "description": "Error Code"
                    },
                    "result_msg": {
                      "type": "string",
                      "description": "Prompt Message"
                    },
                    "result_data": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Result code: 1: The query succeeds 2: the incoming parameter is empty 3: the power plant does not exist under the user 4: No data is queried"
                        },
                        "property_point_value_list": {
                          "type": "object",
                          "properties": {
                            "device_type": {
                              "type": "integer",
                              "description": "Device Type"
                            },
                            "property_code": {
                              "type": "integer",
                              "description": "Attribute Point id"
                            },
                            "property_value": {
                              "type": "integer",
                              "description": "Attribute test point value"
                            },
                            "ps_key": {
                              "type": "integer",
                              "description": "Device ps_key"
                            },
                            "unit": {
                              "type": "string",
                              "description": "The unit corresponding to the property value"
                            },
                            "uuid": {
                              "type": "integer",
                              "description": "Device UUID"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_type": {
                    "type": "integer",
                    "description": "Device Type",
                    "example": "1"
                  },
                  "point_id_list": {
                    "type": "string",
                    "description": "Measuring Point ID Set (see Common Measuring Points for specific open measuring point definitions)",
                    "example": "[\"202\"]"
                  },
                  "ps_id": {
                    "type": "integer",
                    "description": "Plant ID",
                    "example": "1564425"
                  },
                  "ps_key_list": {
                    "type": "string",
                    "description": "Device ps_key Collection (devices of the same type)",
                    "example": "[\"1564425_1_1_2\"]"
                  }
                },
                "required": [
                  "device_type",
                  "point_id_list",
                  "ps_id",
                  "ps_key_list"
                ]
              },
              "example": {
                "device_type": 1,
                "point_id_list": [
                  "202"
                ],
                "ps_key_list": [
                  "1564425_1_1_2"
                ],
                "ps_id": "1564425"
              }
            }
          }
        }
      }
    },
    "/openapi/getDeviceList": {
      "post": {
        "summary": "Query Device List of the Plant",
        "description": "Query device list by plant ID.",
        "operationId": "getDeviceList",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "req_serial_num": {
                      "type": "string",
                      "description": "Request Sequence Number"
                    },
                    "result_code": {
                      "type": "integer",
                      "description": "Error Code"
                    },
                    "result_msg": {
                      "type": "string",
                      "description": "Prompt Message"
                    },
                    "result_data": {
                      "type": "object",
                      "properties": {
                        "pageList": {
                          "type": "object",
                          "properties": {
                            "chnnl_id": {
                              "type": "integer",
                              "description": "Device Channel ID"
                            },
                            "rel_time": {
                              "type": "string",
                              "description": "Commissioning date"
                            },
                            "communication_dev_sn": {
                              "type": "string",
                              "description": "Device Communication Device SN"
                            },
                            "dev_fault_status": {
                              "type": "integer",
                              "description": "Device Fault Status: (1: Fault; 2: Alarm; 4: Normal)"
                            },
                            "dev_status": {
                              "type": "integer",
                              "description": "Device Deployment Status: (0: Undeployed; 1: Deployed)"
                            },
                            "device_code": {
                              "type": "integer",
                              "description": "Device Address Code"
                            },
                            "device_model_code": {
                              "type": "string",
                              "description": "Device Model Name"
                            },
                            "device_model_id": {
                              "type": "integer",
                              "description": "Device Model ID"
                            },
                            "device_name": {
                              "type": "string",
                              "description": "Device Name"
                            },
                            "device_sn": {
                              "type": "string",
                              "description": "Device SN"
                            },
                            "device_type": {
                              "type": "integer",
                              "description": "Device Type Code"
                            },
                            "factory_name": {
                              "type": "string",
                              "description": "Manufacturer Name"
                            },
                            "ps_id": {
                              "type": "integer",
                              "description": "Plant ID"
                            },
                            "ps_key": {
                              "type": "string",
                              "description": "Device ps_key (used to query device data)"
                            },
                            "rel_state": {
                              "type": "integer",
                              "description": "Device Claim Status: (0: Unclaimed; 1: Claimed)"
                            },
                            "type_name": {
                              "type": "string",
                              "description": "Device Type Name"
                            },
                            "uuid": {
                              "type": "string",
                              "description": "Device UUID"
                            },
                            "firmware_version_info": {
                              "type": "object",
                              "properties": {
                                "bat_version": {
                                  "type": "string",
                                  "description": "BMS Unit Version No."
                                },
                                "lcd_version": {
                                  "type": "string",
                                  "description": "Inverter ARM Software Version No."
                                },
                                "mdsp_version": {
                                  "type": "string",
                                  "description": "MDSP Version"
                                },
                                "sdsp_version": {
                                  "type": "string",
                                  "description": "SDSP Version"
                                },
                                "pvd_version": {
                                  "type": "string",
                                  "description": "String Monitoring Unit Software Version No."
                                },
                                "cpld_version": {
                                  "type": "string",
                                  "description": "CPLD Firmware Version No."
                                },
                                "temp_version": {
                                  "type": "string",
                                  "description": "Temperature board version no."
                                },
                                "m_version": {
                                  "type": "string",
                                  "description": "Communication Device Software Version No."
                                },
                                "system_version": {
                                  "type": "string",
                                  "description": "Communication Device Hardware Platform Version No."
                                }
                              }
                            }
                          }
                        },
                        "rowCount": {
                          "type": "integer",
                          "description": "Records"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ps_id": {
                    "type": "integer",
                    "description": "Plant ID",
                    "example": "476178"
                  },
                  "curPage": {
                    "type": "integer",
                    "description": "Page",
                    "example": "1"
                  },
                  "size": {
                    "type": "integer",
                    "description": "Page Size",
                    "example": "10"
                  },
                  "is_virtual_unit": {
                    "type": "integer",
                    "description": "Querying Virtual Device? (1: Virtual Device; 0: Physical Device; defaults to 0). Plants, grid connection points, and units are considered virtual devices",
                    "example": "0"
                  },
                  "device_type_list": {
                    "type": "string",
                    "description": "Equipment Type List (such as: 11: Plant; 1: Inverter; 3: Grid Connection Point; 17: Unit; defaults to all when empty). Refer to Appendix: Device Type Definitions for details"
                  },
                  "rel_state": {
                    "type": "integer",
                    "description": "Device Claim Status: (0: Unclaimed; 1: Claimed)",
                    "example": "1"
                  },
                  "is_get_firmware_version": {
                    "type": "integer",
                    "description": "Get Device Firmware Info? (0: No; 1: Yes; defaults to 0)",
                    "example": "0"
                  }
                },
                "required": [
                  "ps_id",
                  "curPage",
                  "size"
                ]
              },
              "example": {
                "curPage": 1,
                "size": 50,
                "ps_id": 689661,
                "device_type_list": [
                  1
                ]
              }
            }
          }
        }
      }
    },
    "/openapi/getDeviceListByUser": {
      "post": {
        "summary": "Example Query the device list of a user",
        "description": "Example Query the device list of a user",
        "operationId": "getDeviceListByUser",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "req_serial_num": {
                      "type": "string",
                      "description": "Request Sequence Number"
                    },
                    "result_code": {
                      "type": "integer",
                      "description": "Error Code"
                    },
                    "result_msg": {
                      "type": "string",
                      "description": "Prompt Message"
                    },
                    "result_data": {
                      "type": "object",
                      "properties": {
                        "pageList": {
                          "type": "object",
                          "properties": {
                            "chnnl_id": {
                              "type": "integer",
                              "description": "Device Channel ID"
                            },
                            "communication_dev_sn": {
                              "type": "string",
                              "description": "Device Communication Device SN"
                            },
                            "dev_fault_status": {
                              "type": "integer",
                              "description": "Device Fault Status: (1: Fault; 2: Alarm; 4: Normal)"
                            },
                            "dev_status": {
                              "type": "integer",
                              "description": "Device Deployment Status: (0: Undeployed; 1: Deployed)"
                            },
                            "device_code": {
                              "type": "integer",
                              "description": "Device Address Code"
                            },
                            "device_model_code": {
                              "type": "string",
                              "description": "Device Model Name"
                            },
                            "device_model_id": {
                              "type": "integer",
                              "description": "Device Model ID"
                            },
                            "device_name": {
                              "type": "string",
                              "description": "Device Name"
                            },
                            "device_sn": {
                              "type": "string",
                              "description": "Device S/N"
                            },
                            "device_type": {
                              "type": "integer",
                              "description": "Device Type Code"
                            },
                            "factory_name": {
                              "type": "string",
                              "description": "Manufacturer"
                            },
                            "ps_id": {
                              "type": "integer",
                              "description": "Plant ID"
                            },
                            "ps_key": {
                              "type": "integer",
                              "description": "Device ps_key (used to query device data)"
                            },
                            "rel_state": {
                              "type": "integer",
                              "description": "Device Claim Status: (0: Unclaimed; 1: Claimed)"
                            },
                            "type_name": {
                              "type": "string",
                              "description": "Device Type Name"
                            },
                            "uuid": {
                              "type": "string",
                              "description": "Device UUID"
                            }
                          }
                        },
                        "rowCount": {
                          "type": "integer",
                          "description": "Records"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "curPage": {
                    "type": "integer",
                    "description": "Page",
                    "example": "1"
                  },
                  "size": {
                    "type": "integer",
                    "description": "Page Size",
                    "example": "100"
                  },
                  "ps_id": {
                    "type": "string",
                    "description": "Plant ID",
                    "example": "7025**960"
                  },
                  "is_virtual_unit": {
                    "type": "integer",
                    "description": "Querying Virtual Device? (1: Virtual Device; 0: Physical Device; defaults to 0). Plants, grid connection points, and units are considered virtual devices",
                    "example": "0"
                  },
                  "device_type_list": {
                    "type": "string",
                    "description": "Equipment Type List (such as: 11: Plant; 1: Inverter; 3: Grid Connection Point; 17: Unit; defaults to all when empty). Refer to Appendix: Device Type Definitions for details"
                  },
                  "rel_state": {
                    "type": "integer",
                    "description": "Device Claim Status: (0: Unclaimed; 1: Claimed)",
                    "example": "1"
                  },
                  "is_get_firmware_version": {
                    "type": "integer",
                    "description": "Get Device Firmware Info? (0: No; 1: Yes; defaults to 0)",
                    "example": "0"
                  },
                  "share_type": {
                    "type": "string",
                    "description": "Share type of the power plant: 1: query the power plant that has the browse permission 2: query the power plant that has the management permission 0: query the power plant that has the own power plant. Use commas (,) to separate multiple types. All types are queried by default",
                    "example": "0,1,2"
                  }
                },
                "required": [
                  "curPage",
                  "size"
                ]
              },
              "example": {
                "curPage": "1",
                "size": "100"
              }
            }
          }
        }
      }
    },
    "/openapi/getDevicePointMinuteDataList": {
      "post": {
        "summary": "Query Historical Minute-Level Measuring Point Data of Devices of the Same Type",
        "description": "Query the minute-level data of device measuring points based on the ps_key and measuring point ID of devices of the same type and the specified time interval (time zone where the plant is located). Supports time intervals of up to 3 hours and up to 50 devices. The endpoint will not return measuring points with no data. Supports up to 50 measuring points per request. Historical data endpoints do not return data for the current day.",
        "operationId": "getDevicePointMinuteDataList",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "req_serial_num": {
                      "type": "string",
                      "description": "Request Sequence Number"
                    },
                    "result_code": {
                      "type": "integer",
                      "description": "Error Code"
                    },
                    "result_msg": {
                      "type": "string",
                      "description": "Prompt Message"
                    },
                    "result_data": {
                      "type": "object",
                      "properties": {
                        "{ps_key}": {
                          "type": "object",
                          "properties": {
                            "{p+pointid}": {
                              "type": "string",
                              "description": "Measuring Point Value (output parameters are as follows: p1, p83022)"
                            },
                            "time_stamp": {
                              "type": "integer",
                              "description": "Time (time zone where the plant is located)"
                            },
                            "pST001": {
                              "type": "integer",
                              "description": "Data Upload Time"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "end_time_stamp": {
                    "type": "integer",
                    "description": "End Time (time zone where the plant is located; format: yyyyMMddHHmmss)",
                    "example": "20211122080000"
                  },
                  "minute_interval": {
                    "type": "integer",
                    "description": "Duration Interval in Minutes (15 means measuring point data is queried every 15 minutes; if the parameter is not passed or empty, measuring point data is queried every 5 minutes)",
[...]
